# Database Admin 101 - Lab

## Introduction 

In this lab, you'll go through the process of designing and creating a database. From there, you'll begin to populate this table with mock data provided to you.

## Objectives

You will be able to:

* Use knowledge of the structure of databases to create a database and populate it

## The Scenario

You are looking to design a database for a school that will house various information from student grades to contact information, class roster lists and attendance. First, think of how you would design such a database. What tables would you include? What columns would each table have? What would be the primary means to join said tables?

## Creating the Database

Now that you've put a little thought into how you might design your database, it's time to go ahead and create it! Start by import the necessary packages. Then, create a database called **school.sqlite**.

In [1]:
# Import necessary packages
import pandas as pd
import sqlite3

In [2]:
# Create the database school.sqlite 
conn = sqlite3.connect('school.sqlite')
cur = conn.cursor()

## Create a Table for Contact Information

Create a table called contactInfo to house contact information for both students and staff. Be sure to include columns for first name, last name, role (student/staff), telephone number, street, city, state, and zipcode. Be sure to also create a primary key for the table.

In [87]:
# Your code here
cur.execute("""CREATE TABLE contactInfo(
                                        Id INTIGER PRIMARY KEY,
                                        firstName TEXT,
                                        lastName TEXT,
                                        role TEXT,
                                        telephone number INTIGER,
                                        street TEXT,
                                        city TEXT,
                                        state TEXT,
                                        zipcode INTIGER
                                        );
                                        """)

OperationalError: table contactInfo already exists

## Populate the Table

Below, code is provided for you in order to load a list of dictionaries. Briefly examine the list. Each dictionary in the list will serve as an entry for your contact info table. Once you've briefly investigated the structure of this data, write a for loop to iterate through the list and create an entry in your table for each person's contact info.

In [56]:
# Load the list of dictionaries; just run this cell
import pickle

with open('contact_list.pickle', 'rb') as f:
    contacts = pickle.load(f)

In [57]:
import pprint

# Prints the nicely formatted dictionary
pprint.pprint(contacts)

# Sets 'pretty_dict_str' to 
pretty_dict_str = pprint.pformat(contacts)

[{'city': 'Stamford',
  'firstName': 'Christine',
  'lastName': 'Holden',
  'role': 'staff',
  'state': 'CT',
  'street': '1672 Whitman Court',
  'telephone ': 2035687697,
  'zipcode ': '06995'},
 {'city': 'Champaign',
  'firstName': 'Christopher',
  'lastName': 'Warren',
  'role': 'student',
  'state': 'IL',
  'street': '1935 University Hill Road',
  'telephone ': 2175150957,
  'zipcode ': '61938'},
 {'city': 'Atlanta',
  'firstName': 'Linda',
  'lastName': 'Jacobson',
  'role': 'staff',
  'state': 'GA',
  'street': '479 Musgrave Street',
  'telephone ': 4049446441,
  'zipcode ': '30303'},
 {'city': 'Hialeah',
  'firstName': 'Andrew',
  'lastName': 'Stepp',
  'role': 'student',
  'state': 'Fl',
  'street': '2981 Lamberts Branch Road',
  'telephone ': 7866419252,
  'zipcode ': '33012'},
 {'city': 'Abilene',
  'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'state': 'TX',
  'street': '1461 Briarhill Lane',
  'telephone ': 3259909290,
  'zipcode ': '79602'},
 {'city': 'Abilene',
  'firstName': 'Jane',
  'lastName': 'Evans',
  'role': 'student',
  'state': 'TX',
  'street': '1461 Briarhill Lane',
  'telephone ': 3259909290,
  'zipcode ': '79602'},
 {'city': 'Ninilchik',
  'firstName': 'Mary',
  'lastName': 'Raines',
  'role': 'student',
  'state': 'AK',
  'street': '3975 Jerry Toth Drive',
  'telephone ': 9075772295,
  'zipcode ': '99639'},
 {'city': 'Lansing',
  'firstName': 'Ed',
  'lastName': 'Lyman',
  'role': 'student',
  'state': 'MI',
  'street': '3478 Be Sreet',
  'telephone ': 5179695576,
  'zipcode ': '48933'}]

In [88]:
# Iterate over the contact list and populate the contactInfo table here
for contact in contacts:
    city = contact['city']
    firstName = contact['firstName']
    lastName = contact['lastName']
    role = contact['role']
    state = contact['state']
    street = contact['street']
    telephone = contact['telephone ']
    zipcode = contact['zipcode ']
    cur.execute("""INSERT INTO contactInfo (firstName, lastName, role, telephone, state, street, city, zipcode)
                    VALUES ('{}','{}','{}','{}','{}','{}','{}','{}');""".format(firstName, lastName, role, telephone, state, street, city, zipcode))

**Query the Table to Ensure it is populated**

In [89]:
# Your code here 
cur.execute("""SELECT * FROM contactInfo;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]

df

,userId,firstName,lastName,role,telephone,street,city,state,zipcode
0,1,Christine,Holden,staff,2035687697,1672 Whitman Court,Stamford,CT,06995
1,2,Christopher,Warren,student,2175150957,1935 University Hill Road,Champaign,IL,61938
2,3,Linda,Jacobson,staff,4049446441,479 Musgrave Street,Atlanta,GA,30303
3,4,Andrew,Stepp,student,7866419252,2981 Lamberts Branch Road,Hialeah,Fl,33012
4,7,Mary,Raines,student,9075772295,3975 Jerry Toth Drive,Ninilchik,AK,99639
5,8,Ed,Lyman,student,5179695576,3478 Be Sreet,Lansing,MI,48933
6,9,Christine,Holden,staff,2035687697,1672 Whitman Court,Stamford,CT,06995
7,10,Christopher,Warren,student,2175150957,1935 University Hill Road,Champaign,IL,61938
8,11,Linda,Jacobson,staff,4049446441,479 Musgrave Street,Atlanta,GA,30303
9,12,Andrew,Stepp,student,7866419252,2981 Lamberts Branch Road,Hialeah,Fl,33012
10,15,Mary,Raines,student,9075772295,3975 Jerry Toth Drive,Ninilchik,AK,99639
11,16,Ed,Lyman,student,5179695576,3478 Be Sreet,Lansing,MI,48933
12,17,Christine,Holden,staff,2035687697,1672 Whitman Court,Stamford,CT,06995
13,18,Christopher,Warren,student,2175150957,1935 University Hill Road,Champaign,IL,61938
14,19,Linda,Jacobson,staff,4049446441,479 Musgrave Street,Atlanta,GA,30303
15,20,Andrew,Stepp,student,7866419252,2981 Lamberts Branch Road,Hialeah,Fl,33012
16,21,Jane,Evans,student,3259909290,1461 Briarhill Lane,Abilene,TX,79602
17,22,Jane,Evans,student,3259909290,1461 Briarhill Lane,Abilene,TX,79602
18,23,Mary,Raines,student,9075772295,3975 Jerry Toth Drive,Ninilchik,AK,99639
19,24,Ed,Lyman,student,5179695576,3478 Be Sreet,Lansing,MI,48933

## Commit Your Changes to the Database

Persist your changes by committing them to the database.

In [90]:
# Your code here
conn.commit()

## Create a Table for Student Grades

Create a new table in the database called "grades". In the table, include the following fields: userId, courseId, grade.

** This problem is a bit more tricky and will require a dual key. (A nuance you have yet to see.)
Here's how to do that:

```SQL
CREATE TABLE table_name(
   column_1 INTEGER NOT NULL,
   column_2 INTEGER NOT NULL,
   ...
   PRIMARY KEY(column_1,column_2,...)
);
```

In [91]:
# Create the grades table
cur.execute("""CREATE TABLE grades (
                            userId INTIGER NOT NULL,
                            courseId INTIGER NOT NULL,
                            grade INTIGER,
                            PRIMARY KEY(userId,courseId)
                            );
                            """)

OperationalError: table grades already exists

## Remove Duplicate Entries

An analyst just realized that there is a duplicate entry in the contactInfo table! Find and remove it.

In [92]:
# Delete the duplicate entry
cur.execute("""DELETE FROM contactInfo WHERE telephone = 3259909290;""")

In [93]:
# Check that the duplicate entry was removed
cur.execute("""SELECT firstName, lastName, telephone, COUNT(*) 
               FROM contactInfo
               GROUP BY firstName, lastName, telephone
               HAVING COUNT(*) > 1;""").fetchall()

[('Andrew', 'Stepp', 7866419252, 3),
 ('Christine', 'Holden', 2035687697, 3),
 ('Christopher', 'Warren', 2175150957, 3),
 ('Ed', 'Lyman', 5179695576, 3),
 ('Linda', 'Jacobson', 4049446441, 3),
 ('Mary', 'Raines', 9075772295, 3)]

In [98]:
cur.execute("""DELETE FROM contactInfo 
               WHERE telephone = 3259909290 & 7866419252 & 2035687697 & 5179695576 & 4049446441 & 9075772295  ;""")

[('Andrew', 'Stepp', 7866419252, 2),
 ('Christine', 'Holden', 2035687697, 2),
 ('Christopher', 'Warren', 2175150957, 2),
 ('Ed', 'Lyman', 5179695576, 2),
 ('Linda', 'Jacobson', 4049446441, 2),
 ('Mary', 'Raines', 9075772295, 2)]

In [99]:
cur.execute("""SELECT firstName, lastName, telephone, COUNT(*) 
               FROM contactInfo
               GROUP BY firstName, lastName, telephone
               HAVING COUNT(*) > 1;""").fetchall()

[('Andrew', 'Stepp', 7866419252, 3),
 ('Christine', 'Holden', 2035687697, 3),
 ('Christopher', 'Warren', 2175150957, 3),
 ('Ed', 'Lyman', 5179695576, 3),
 ('Linda', 'Jacobson', 4049446441, 3),
 ('Mary', 'Raines', 9075772295, 3)]

In [100]:
cur.execute("""DELETE FROM contactInfo 
               WHERE telephone = 3259909290 & 7866419252 & 2035687697 & 5179695576 & 4049446441 & 9075772295  ;""")

In [101]:
cur.execute("""SELECT firstName, lastName, telephone, COUNT(*) 
               FROM contactInfo
               GROUP BY firstName, lastName, telephone
               HAVING COUNT(*) > 1;""").fetchall()

[('Andrew', 'Stepp', 7866419252, 3),
 ('Christine', 'Holden', 2035687697, 3),
 ('Christopher', 'Warren', 2175150957, 3),
 ('Ed', 'Lyman', 5179695576, 3),
 ('Linda', 'Jacobson', 4049446441, 3),
 ('Mary', 'Raines', 9075772295, 3)]

In [109]:
cur.execute("""DELETE FROM contactInfo 
               WHERE firstName = 'Andrew';""")

In [110]:
cur.execute("""DELETE FROM contactInfo 
               WHERE firstName = 'Christine';""")

In [111]:
cur.execute("""DELETE FROM contactInfo 
               WHERE firstName = 'Christopher';""")

In [112]:
cur.execute("""DELETE FROM contactInfo 
               WHERE firstName = 'Ed';""")

In [113]:
cur.execute("""DELETE FROM contactInfo 
               WHERE firstName = 'Linda';""")

In [114]:
cur.execute("""DELETE FROM contactInfo 
               WHERE firstName = 'Mary';""")

In [115]:
cur.execute("""SELECT firstName, lastName, telephone, COUNT(*) 
               FROM contactInfo
               GROUP BY firstName, lastName, telephone
               HAVING COUNT(*) > 1;""").fetchall()

[]

## Updating an Address

Ed Lyman just moved to `2910 Simpson Avenue York, PA 17403`. Update his address accordingly.

In [117]:
# Update Ed's address
cur.execute("""UPDATE contactInfo
               SET street = '2910 Simpson Avenue York, PA 17403'
               WHERE street = '3478 Be Sreet';""")

In [119]:
# Query the database to ensure the change was made
cur.execute("""SELECT * 
               FROM contactInfo;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
df

ValueError: Length mismatch: Expected axis has 0 elements, new values have 9 elements

## Commit Your Changes to the Database

Once again, persist your changes by committing them to the database.

In [ ]:
# Your code here

## Summary

While there's certainly more to do with setting up and managing this database, you got a taste for creating, populating, and maintaining databases! Feel free to continue fleshing out this exercise for more practice.